@import "./base.css";

#app {
  display: flex;
  flex-flow: column nowrap;
  max-width: 1280px;
  margin: 0 auto;
}

.heading-main {
  font-family: "Nunito-Black";
  color: var(--rusty-brown);
  font-weight: 1000;
  font-size: 48px;
  line-height: 50px;
  text-transform: uppercase;
  color: var(--rusty-brown);
}

.heading-sub {
  font-family: "Nunito-Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--rusty-brown);
}

h1 {
  font-family: "Nunito-Black";
  color: var(--rusty-brown);
  font-weight: 1000;
  font-size: 48px;
  line-height: 50px;
  text-transform: uppercase;
  color: var(--rusty-brown);
}

h2 {
  font-family: "Nunito-Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}

h3 {
  font-family: "Nunito-Light";
  font-weight: 300;
  font-size: 16px;
}

p {
  font-family: "Nunito-Medium";
  color: var(--black);
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}

a {
  text-decoration: none;
}

.cloud {
  width: 140px;
  height: 140px;
  filter: drop-shadow(5px 5px 0px #50b7f8);
}

.dot {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--dark-blue);
}

.dot.dot__active {
  background-color: var(--white);
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 20px;
    font-weight: 600;
  }

  p {
    font-size: 18px;
    line-height: 30px;
  }

  .cloud {
    width: 300px;
    height: 300px;
    filter: drop-shadow(7px 7px 0px #50b7f8);
  }

  .dot {
    width: 14px;
    height: 14px;
  }

  /* .chevron {
    height: 11px;
    width: 41px;
  } */
}
